<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClassLibrary8.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClassLibrary8.Settings1>
            <setting name="CustomerId" serializeAs="String">
                <value />
            </setting>
            <setting name="Description" serializeAs="String">
                <value />
            </setting>
            <setting name="IBAN" serializeAs="String">
                <value />
            </setting>
            <setting name="FtpUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="FtpUser" serializeAs="String">
                <value />
            </setting>
            <setting name="FtpPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="EXPORTPATH" serializeAs="String">
                <value />
            </setting>
            <setting name="FtpUrlIn" serializeAs="String">
                <value />
            </setting>
            <setting name="IMPORTPATH" serializeAs="String">
                <value />
            </setting>
            <setting name="TIMEINTERVAL" serializeAs="String">
                <value />
            </setting>
        </ClassLibrary8.Settings1>
    </userSettings>
</configuration>